@import 'compass/css3';
$module-name: btn;
$default-btn-color: #0076C5;

.#{$module-name} {
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	padding: 20px;
	font-size: 30px;
	background-color: $default-btn-color;
	color: #FFF;
	@include border-radius(5px);
	@include inline-block;
}
