.movie-description { width: 870px; margin: 0 auto; font-size: 22px; }

.movie-description-image { float: left; width: 300px; margin: 0 20px 0 0; }

.movie-description-title { font-size: 60px; font-style: italic; font-weight: 800; margin: 0; line-height: 50px; }

.movie-description-info { float: left; width: 550px; }

.movie-description-year { color: #8C8C8C; font-weight: 700; font-size: 33px; margin: 10px 0; text-align: right; }
