@import 'compass/css3';
$module-name: icon;

.#{$module-name} {
	position: relative;
	top: 1px;
	line-height: 1;
	@include inline-block;
}
.#{$module-name}-movie {
	background-image: image-url('icon-movie.png');
	width: 32px;
	height: 34px;
}