@import 'compass/css3';

$module-name: logo;

.#{$module-name} {
  width: 646px;
  text-align: center;
  margin: 250px auto 0 auto;
  @include transform(scale(1.5));
  @include transition(2s);
	.#{$module-name}-image {
		width: 100%;
	}
	&.is-positioned {
  	margin: 125px auto 0 auto;
  	@include transform(scale(1));
	}
}
.#{$module-name}-movie-icon {
	width: 70px;
	height: 68px;
	display: block;
	margin: 25px auto 0 auto;
	@include background(image-url('film-strip.png'));
}
