.icon { position: relative; top: 1px; line-height: 1; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.icon-movie { background-image: url('../../img/icon-movie.png?1384530605'); width: 32px; height: 34px; }
